.dashboard_page {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    .navigation {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            row-gap: 1rem;
            align-items: flex-start;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    .users_table {
        width: 100%;
        max-height: 1200px;
    }
}
