* {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: inherit;
    box-sizing: border-box;
    text-decoration: unset;
}
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #222;
}
