.overlay {
    width: 100%;
    height: 100vh;
    inset: 0;
    position: fixed;
    z-index: 9;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    .modal {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 3rem;
        max-width: 55rem;
        width: 100%;
        overflow-y: auto;
        border-radius: 8px;
        background-color: #f4f4f4;
        position: relative;
        .close {
            background: none;
            border: none;
            outline: none;
            padding: 0.25rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                font-size: 2rem;
            }
        }
    }
}
